.cursor {
	position: fixed;
	pointer-events: none; /* Indispensable pour ne pas cliquer sur le curseur lui-même */
	z-index: 9999;

	img {
		width: 100%;
		height: 100%;
		display: block;

		filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.4));
		transition: filter 0.2s ease-in-out;
	}
}
