.dialogue {
  &-overlay {
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 40px;
  }
  &-overlay::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 0;
  }

  &-content {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
  }

  &-close-btn {
    position: absolute;

    top: 40px;
    left: 40px;
    z-index: 98;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    pointer-events: auto;
    width: 50px;
    height: auto;
  }
  &-close-btn svg {
    transition: all 0.2s ease;
  }

  &-close-btn:hover svg {
    scale: (1.1);
  }

  &-info-btn {
    position: absolute;

    top: 40px;
    right: 40px;
    z-index: 98;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    pointer-events: auto;
    width: 50px;
    height: auto;
  }
  &-info-btn svg {
    transition: all 0.2s ease;
  }

  &-info-btn:hover svg {
    scale: (1.1);
  }
}
