.infoPanel {
	&-container {
		position: relative;
		padding: 20px;
		color: white;
		overflow: hidden;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 24px;
		overflow: visible;
	}

	&-open-btn {
		position: absolute;
		top: 40px;
		right: 40px;
		z-index: 1100;
		display: flex;
		align-items: center;
		gap: 12px;
		background: none;
		border: none;
		color: #ffe082;
		cursor: pointer;
		font-family: "Georgia", serif;
		font-size: 14px;
		pointer-events: auto;
		width: 50px;
		height: auto;
	}

	&-close-btn {
		position: absolute;
		top: 30px;
		left: -30px;
		display: flex;
		align-items: center;
		gap: 12px;
		background: none;
		border: none;
		color: #ffe082;
		cursor: pointer;
		text-transform: uppercase;
		font-family: "Georgia", serif;
		font-size: 14px;
		pointer-events: auto;
		width: 30px;
		height: auto;
	}

	&-close-btn svg,
	&-open-btn svg {
		transition: all 0.2s ease;
	}

	&-close-btn:hover svg,
	&-open-btn:hover svg {
		scale: (1.1);
	}
}
