.end__screen {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0); // Départ transparent

	// ÉLÉMENTS CLÉS POUR LE MASQUAGE INITIAL :
	opacity: 0;
	visibility: hidden;
	pointer-events: none; // Empêche de cliquer à travers au début

	color: white;
	text-align: center;

	.end__content,
	.end__credits {
		position: absolute;
		width: 100%;
		max-width: 800px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		padding: 20px;
	}

	.suspense {
		font-size: 1.2rem;
		opacity: 0.8;
	}

	ul {
		list-style: none;
		padding: 0;
		li {
			margin: 5px 0;
		}
	}
}
