.menu {
    &__screen {
        z-index: 99;

        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;

        color: antiquewhite;

        box-sizing: border-box;
        border: solid 4px antiquewhite;

        button {
            padding: 10px 20px;
            cursor: pointer;
        }
    }
}